---
layout: default
---

<ul class="tags">
  {% for tag in page.tags %}
    <li><a href="{{ site.baseurl }}tags/#{{tag}}" class="tag">{{ tag }}</a></li>
  {% endfor %}
</ul>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div>
    <span class="post-date" style="float: left;">{{ page.date | date_to_string }}</span>
    <span class="post-date" style="float: right;" id="ga-pageviews"></span>
  </div>
  <div style="clear: both;"></div>​  {{ content }}
</div>

<footer class="post-footer">

  <!-- Everything inside the #author tags pulls data from the author -->
  <!-- #author-->

  {% if site.image %}
  <figure class="author-image">
      <a class="img" href="{{ site.url }}/about" style="background-image: url(https://s.gravatar.com/avatar/{{ site.author.gravatar_md5 }}?s=280)"><span class="hidden">{{ page.author }}'s Picture</span></a>
  </figure>
  {% endif %}

  <section class="author">
      <h4><a href="{{ site.baseurl }}author/{{ site.nickname }}">{{ site.author.name }}</a></h4>
      
      {% if site.author.bio %}
          <p> {{ site.author.bio }}</p>
      {% else %}
          <p>Read <a href="{{ site.baseurl }}author/{{ site.nickname }}">more posts</a> by this author.</p>
      {% endif %}
      <div class="author-meta">
          {% if site.location %}<span class="author-location icon-location"> {{ site.location }}</span>{% endif %} 
          {% if site.url %}<span class="author-link icon-link"><a href="{{ site.url }}"> {{ site.short_url }}</a></span>{% endif %} 
      </div>
  </section>

  <!-- /author  -->

  <section class="share">
      <h4>Share this post</h4>
      <a class="icon-twitter" href="http://twitter.com/share?text={{ page.title }}&amp;url={{ site.url }}{{ page.url}}"
          onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <span class="hidden">Twitter</span>
      </a>
      <a class="icon-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url}}"
          onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <span class="hidden">Facebook</span>
      </a>
      <a class="icon-google-plus" href="https://plus.google.com/share?url={{ site.url }}{{ page.url }}"
         onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
          <span class="hidden">Google+</span>
      </a>
</section>

</footer>


{% include comments.html %}

